.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 300px;

    text-align: center;
}

.card .text {
    margin: 10px;
}


.card button {
    width: 300px;
}